body {
    background-color: #F5F5F7;
}

.canvas {
    height: 900px;
    width: 900px;
    /*border: 1px solid #ccc;*/
    top: 15vh;
    margin: auto;
    position: relative;
    background-color: transparent;
}

.cell {
    background-color: transparent;
    border: none;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 100px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}