body {
    background-color: #6A9C89;
}

.canvas {
    height: 900px;
    width: 900px;
    /*border: 1px solid #ccc;*/
    top: 15vh;
    margin: auto;
    position: relative;
    background-color: #6A9C89;
}

.cell {
    background-color: transparent;
    border: none;
    height: 300px;
    width: 300px;
    position: relative;
}